.catalog {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 200px));
  gap: 48px;
  justify-content: center;
  align-content: center;
  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
  
  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, minmax(200px, 200px));
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, minmax(200px, 200px));
  }
}
